@inherits LayoutComponentBase

    <div class="main">
        <div class="top-row px-4">
            <div class="top-row-inner">
                <span class="top-title">时辰</span>
                <a href="/" target="_blank" id="top-a">开始转换</a>
                <a href="/current" target="_blank" id="top-a">当前时辰</a>
                <a href="/about" target="_blank" id="top-a">关于我们</a>
            </div>
        </div>
        <div class="content">
            @Body
        </div>
    </div>
