@page "/About"

<div class="index">
    <div class="index-main">
        <div class="about-left">
            <div class="about-font">
                <div class="about-font">
                    <div class="about-font-1">
                        关
                    </div>
                    <div class="about-font-2">
                        于
                    </div>
                    <div class="about-font-3">
                        时
                    </div>
                    <div class="about-font-4">
                        辰
                    </div>
                </div>
            </div>
        </div>
        <div class="about-right">
            <div class="about-right-intro">
                这是一个时辰转换器。做这个的动机是，有一天看明史的时候看到崇祯于甲申三月十九日丑时，在北京景山老歪脖子树上自缢。
                读到这里脑子第一个反应竟然是，所以这大哥到底啥时候去世的？绞尽脑汁发现自己12哥时辰只知道子时。吾暴起，怒搜谷歌。
                览今时辰网站，甚丑。遂怒写网站。
            </div>
            <div class="about-right-link">
                欢迎联系邮箱或是通过Github改进网站或是提供建议，或者打个招呼吐个槽~
                <i class="fab fa-github">Github Link</i>
                <i class="far fa-envelope">lnc0519@gmail.com</i>
                <i class="fas fa-swimmer">About Me</i>
            </div>
            <div class="about-right-version">
                <p></p>
                <p>TODO 关于我页面</p>
                <p>2021/10/20 注册了shichen.live，因为shichen.com居然狮子大开口卖我17w人民币。。抢钱吗</p>
                <p>2021/10/18 做好转换器主界面，修好美术，写好后端时辰具体资料</p>
                <p>2021/10/15 发现自己用了client blazer而不是server blazer，框架错了，越努力越反动，全部重写</p>
                <p>2021/10/14 Draft 上传，做好空页面，脚手架，和首页底色 </p>
                <p>2021/10/13 看书，发现自己不懂时辰，立项</p>
            </div>
            <div class="about-right-todo">
                <p>计划要鸽的目标</p>
                <p>1. 关于我们页面</p>
                <p>2. 当前时辰页面</p>
                <p>3. 中英文转换</p>
                <p>4. https ssl证书</p>
                <p>5. 攒钱买下shichen.com</p>
            </div>
        </div>
        <div class="buttom">
        </div>
    </div>
</div>


@code {
}
