@page "/About"

<div class="index">
    <div class="index-main">
        <div class="about-left">
            <div class="about-font">
                <div class="about-font">
                    <div class="about-font-1">
                        关
                    </div>
                    <div class="about-font-2">
                        于
                    </div>
                    <div class="about-font-3">
                        时
                    </div>
                    <div class="about-font-4">
                        辰
                    </div>
                </div>
            </div>
        </div>
        <div class="about-right">
            <div class="about-right-all">
                <div class="about-right-intro">
                    <div class="about-right-title">
                        <span id="about-right-title-content1">这</span>
                        <span id="about-right-title-content2">是</span>
                        <span id="about-right-title-content3">什</span>
                        <span id="about-right-title-content4">么</span>
                    </div>
                    <div class="about-right-content">
                    这是一个时辰转换器。做这个的动机是，有一天看书的时候看到崇祯于甲申三月十九日丑时，在北京景山老歪脖子树上自缢。
                    第一个反应是，所以这他到底啥时候死的？绞尽脑汁发现自己12个时辰只知道子时。于是暴起，怒搜谷歌。
                    发网上关于时辰的网站，丑炸了。遂怒写网站。
                    </div>
                </div>
                <div class="about-right-link">
                    <div class="about-right-title">
                        <span id="about-right-title-content1">怎</span>
                        <span id="about-right-title-content2">么</span>
                        <span id="about-right-title-content3">联</span>
                        <span id="about-right-title-content4">系</span>
                    </div>
                    <div class="about-right-content">
                    欢迎邮箱或是通过Github改进网站或是提供建议，或者吐个槽~
                    <br />
                    <i class="fab fa-github" src="https://github.com/nlyu/ChineseTime">
                        <a href="https://github.com/nlyu/ChineseTime"> Github Link</a>
                    </i>
                    <br/>
                    <i class="far fa-envelope">
                        lnc0519@gmail.com
                    </i>
                    <br/>
                    <i class="fas fa-swimmer" src="https://www.lyulyulyu.com/">
                        <a href="https://www.lyulyulyu.com/">关于作者 </a>
                    </i>
                    </div>
                </div>
                <div class="about-right-version">
                    <div class="about-right-title">
                        <span id="about-right-title-content1">怎</span>
                        <span id="about-right-title-content2">么</span>
                        <span id="about-right-title-content3">做</span>
                        <span id="about-right-title-content4">的</span>
                    </div>
                    <div class="about-right-content">
                    <p>2021/12/10 工作耽误很久，调了一万年终于配置好ssl证书，现在网站是https的了</p>
                    <p>2021/11/10 上线发现bug，不会根据用户真实地点显示当地时间。用了一个用户端javascript解决</p>
                    <p>2021/11/19 上线</p>
                    <p>2021/11/18 调整电脑各种屏幕的自适应</p>
                    <p>2021/11/17 公司年终总结耽误了好久，写好当前时间页面</p>
                    <p>2021/10/20 注册了shichen.live，因为shichen.com居然狮子大开口卖我17w人民币。。抢钱吗</p>
                    <p>2021/10/18 做好转换器主界面，修好美术，写好后端时辰具体资料</p>
                    <p>2021/10/15 发现自己用了client blazer而不是server blazer，框架错了，越努力越反动，全部重写</p>
                    <p>2021/10/14 Draft，做好空页面，脚手架，和首页底色 </p>
                    <p>2021/10/13 看书，发现自己不懂时辰，立项</p>
                    </div>
                </div>
                <div class="about-right-todo">
                    <div class="about-right-title">
                        <span id="about-right-title-content1">怎</span>
                        <span id="about-right-title-content2">么</span>
                        <span id="about-right-title-content3">鸽</span>
                        <span id="about-right-title-content4">了</span>
                    </div>
                    <div class="about-right-content">
                    <p>计划要鸽的目标</p>
                    <p>1. 中英文转换</p>
                    <p>2. 攒17w RMB买下shichen.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttom">
        </div>
    </div>
</div>


@code {
}
