.current-time-main {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 48%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    font-size: 100px;
    font-family: 'Noto Serif SC', serif;
}

.current-time-hour {
    font-size: 12vw;
}

.current-time-year {
    margin-top: -2vh;
    font-size: 2.5vw;
}

.current-time-date {
    font-size: 3vw;
}

.current-time-time {
    font-size: 3.5vw;
}

.current-time-bonus {
    font-size: 2.5vw;
}
