.current-time-main {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 48%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    font-size: 100px;
    font-family: 'Noto Serif SC', serif;
}

.current-time-hour {
    font-size: 25vh;
}

.current-time-year {
    margin-top: -4vh;
    font-size: 4vh;
}

.current-time-date {
    font-size: 4vh;
}

.current-time-time {
    font-size: 6vh;
}

.current-time-bonus {
    font-size: 4vh;
}
