/*
    Font size difinition
*/
:root {
    --romanHour-font-size: min(3vw, 50px);
    --romanHourRange-font-size: min(3vw, 35px);
    --description-font-size: min(2vw, 17px);
    --subDescription-font-size: min(2vw, 17px);
    --citation-font-size: min(2vw, 17px);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/*
    All
*/
body {
    padding: 0;
    margin: 0;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.top-row {
    height: 80px;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 999;
    background-color: none;
    font-size: 30px;
}

.top-row-inner {
    margin-top: 20px;
}

.top-title {
    margin-left: 30px;
    font-weight: 500;
    font-size: 50px;
}

#top-a {
    margin-left: 20px;
}

.content {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

i {
    cursor: pointer;
}

/*
    Index
*/
.index {
    padding: 0;
    margin: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
}

.left {
    height: 100%;
    width: 50%;
    left: 0px;
    position: absolute;
    background-color: white;
    opacity: 0.8;
}

.left-clock {
    margin: 0 auto;
    top: 48%;
    right: 10%;
    position: absolute;
    opacity: 1;
    z-index: 999;
    animation: clockfadeIn;
    animation-duration: 2s;
    transform: translateY(-50%);
}

@keyframes clockfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.right {
    height: 100%;
    width: 50%;
    right: 0px;
    position: absolute;
    background-color: #001c45;
    opacity: 0.8;
}

.right-clock {
    margin: 0 auto;
    top: 48%;
    transform: translateY(-50%);
    left: 10%;
    position: absolute;
    opacity: 1;
    z-index: 999;
    animation: clockfadeIn;
    animation-duration: 2s;
}

/*
    Data Right Section
*/

.right-shichen {
    top: 25%;
    width: 70%;
    position: absolute;
    z-index: 999;
    color: rgb(224, 237, 255);
    font-family: 'Noto Serif SC', serif;
    transition: all 0.5s ease-in-out;
}

.right-shichen div:hover{
    margin-left: 10px;
    transition: all 0.5s linear;
}

.right-shichen .RomanStartingHour {
    font-size: 110px;
    position: absolute;

    top: 0;
    left: 0;
}

.right-shichen .RomanStartingHour:hover {
    color: #dcbdff;
}

.right-shichen .RomanHour {
    font-size: var(--romanHour-font-size);
    position: absolute;
    top: 0;
    left: 210px;
}

.right-shichen .RomanHourRange {
    font-size: var(--romanHourRange-font-size);
    position: absolute;

    top: 100px;
    left: 200px;
}

.right-shichen .Description {
    font-size: var(--description-font-size);
    position: absolute;

    top: 200px;
    left: 0;
}

.right-shichen .SubDescription {
    font-size: var(--subDescription-font-size);
    position: absolute;

    top: 300px;
    left: 0;
}

.right-shichen .KeyWord {
    font-size: 40px;
    position: absolute;
    top: 390px;
    right: 0;
}

.right-shichen .KeyWord:hover {
    font-size: 45px;
    color: #efb8ff;
}

.right-shichen .Citation {
    font-size: var(--citation-font-size);
    position: absolute;
    top: 450px;
    right: 0px;
}

.right-shichen .Link-Wiki {
    font-size: 10px;
    position: absolute;
    top: 600px;
}

.right-shichen .Link-Baidu {
    font-size: 10px;
    position: absolute;
    top: 600px;
}

#right-shichen-back {
    font-size: 70px;
    color: rgb(224, 237, 255);
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: 1000;
    font-family: 'Noto Serif SC', serif;
    cursor: pointer;
}

#right-shichen-back:hover {
    color: #dcbfde;
}

/*
    Data Left Section
*/
.left-shichen {
    top: 25%;
    width: 70%;
    position: absolute;
    z-index: 999;
    color: #374457;
    font-family: 'Noto Serif SC', serif;
    transition: all 0.5s ease-in-out;
}

.left-shichen div:hover {
    margin-right: 10px;
    transition: all 0.5s linear;
}

.left-shichen .RomanStartingHour {
    font-size: 120px;
    position: absolute;

    top: 0;
    right: 0;
}

.left-shichen .RomanStartingHour:hover {
    color: #99485d;
}


.left-shichen .RomanHour {
    font-size: var(--romanHour-font-size);
    position: absolute;
    top: 0;
    right: 210px;
}

.left-shichen .RomanHourRange {
    font-size: var(--romanHourRange-font-size);
    position: absolute;

    top: 100px;
    right: 230px;
}

.left-shichen .Description {
    font-size: var(--description-font-size);
    position: absolute;

    
    top: 200px;
    right: 0;
}

.left-shichen .SubDescription {
    font-size: var(--subDescription-font-size);
    position: absolute;

    top: 300px;
    right: 0;
}

.left-shichen .KeyWord {
    font-size: 40px;
    position: absolute;
    top: 390px;
    left: 0;
}

.left-shichen .KeyWord:hover {
    font-size: 45px;
    color: #99485d;
}

.left-shichen .Citation {
    font-size: var(--citation-font-size);
    position: absolute;
    top: 450px;
    left: 0px;
}

.left-shichen .Link-Wiki {
    font-size: 10px;
    position: absolute;
    top: 600px;
}

.left-shichen .Link-Baidu {
    font-size: 10px;
    position: absolute;
    top: 600px;
}

#left-shichen-back {
    font-size: 70px;
    color: #001c45;
    position: absolute;
    bottom: 0px;
    left: 20px;
    z-index: 1000;
    font-family: 'Noto Serif SC', serif;
    cursor: pointer;
}

#left-shichen-back:hover{
   color: #99485d;
}

/*
    big font
*/
.zhou {
    font-family: 'Noto Serif SC', serif;
    font-size: 35vw;
    color: #dbe9ff;
    left: -5%;
    bottom: -170px;
    position: fixed;
    overflow-y: hidden;
}

.ye {
    font-family: 'Noto Serif SC', serif;
    font-size: 35vw;
    color: #374457;
    right: -5%;
    top: -240px;
    z-index: 0;
    position: fixed;
}

/*
    Clock
*/
.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #e0edff;
    margin: 0px auto 0px auto;
    position: relative;
    border: 20px solid #e0edff;
}

.center {
    background-color: #000;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 20;
}

.hourHand {
    width: 10px;
    height: 75px;
    background-color: #000;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 50px;
    left: 125px;
    z-index: 10;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    transform: rotate(360deg);
}

.minuteHand {
    width: 5px;
    height: 120px;
    background-color: #000;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    left: 125px;
    z-index: 9;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    transform: rotate(90deg);
}

.secondHand {
    width: 2px;
    height: 120px;
    background-color: rgb(0, 18, 46);
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    left: 129px;
    transition: all 0.06s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    z-index: 8;
    transform: rotate(360deg);
}

.clock ul {
    list-style: none;
    padding: 0;
}

.clock ul li {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: rgb(0, 18, 46);
    cursor: pointer;
}

.clock ul li:nth-child(1) {
    right: 22%;
    top: 6.5%;
}

.clock ul li:nth-child(2) {
    right: 6%;
    top: 25%;
}

.clock ul li:nth-child(3) {
    right: 1%;
    top: calc(50% - 10px);
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.clock ul li:nth-child(4) {
    right: 6%;
    top: 69%;
}

.clock ul li:nth-child(5) {
    right: 22%;
    top: 84%;
}

.clock ul li:nth-child(6) {
    right: calc(50% - 10px);
    top: calc(99% - 20px);
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.clock ul li:nth-child(7) {
    left: 22%;
    top: 84%;
}

.clock ul li:nth-child(8) {
    left: 6%;
    top: 69%;
}

.clock ul li:nth-child(9) {
    left: 1%;
    top: calc(50% - 10px);
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.clock ul li:nth-child(10) {
    left: 6%;
    top: 25%;
}

.clock ul li:nth-child(11) {
    left: 22%;
    top: 6.5%;
}

.clock ul li:nth-child(12) {
    right: calc(50% - 10px);
    top: 1%;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

/*
    Clock Animation
*/

li > span {
    padding: 20px;
    margin: -20px;
    width: 10px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

li > span:hover {
    font-size: 50px;
    transform: scale(1.1);
}

/*
    particle.js
*/
/* For background particle effect*/
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}
